<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.name %></h1>
    <p>
      Welcome to the putnasty chores life! You will recieve weekly emails from this account with your chore assignments. To check out more about your account, visit _____.
    </p>
    <p>
    </p>
    <p>
      Best, Putnasty
    </p>
  </body>
</html>
