@import "bootstrap-sprockets";
@import "bootstrap";

/* Red */
$bgDefault: #2ecc71;
$bgHighlight: #27ae60;
$colDefault: #ecf0f1;
$colHover: #d1ffed;

/* Green * /
$bgDefault      : #2ecc71;
$bgHighlight    : #27ae60;
$colDefault     : #ecf0f1;
$colHover       : #d1ffed; /*/
/* Purple * /
$bgDefault      : #9b59b6;
$bgHighlight    : #8e44ad;
$colDefault     : #ecf0f1;
$colHover       : #ecdbff; /*/
/* Orange * /
$bgDefault      : #e67e22;
$bgHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; /*/


/* --- Style --- */
.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;

  .navbar-brand {
    color: $colDefault;

    &:hover, &:focus {
      color: $colHover;
    }
  }

  .navbar-nav {
    > li {
      > a {
        color: $colDefault;

        &:hover, &:focus {
          color: $colHover;
        }
      }
    }

    .active {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight;
      }
    }

    .open {
      > a, > a:hover, > a:focus {
        color: $colHover;
        background-color: $bgHighlight;

        .caret {
          border-top-color: $colHover;
          border-bottom-color: $colHover;
        }
      }
    }

    > .dropdown {
      > a {
        .caret {
          border-top-color: $colDefault;
          border-bottom-color: $colDefault;
        }

        &:hover, &:focus {
          .caret {
            border-top-color: $colHover;
            border-bottom-color: $colHover;
          }
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $bgHighlight;

    &:hover, &:focus {
      background-color: $bgHighlight;
    }

    .icon-bar {
      background-color: $colDefault;
    }
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: $colDefault;

    &:hover, &:focus {
      color: $colHover;
      background-color: $bgHighlight;
    }
  }
}

.buttonHolder {
  text-align: center;
  margin-top: 50px;
}


.form-group {
  margin-top: 20px;
}

#notice {
  margin-top: 30px;
  color: green;
  font-size: 50px;
  text-align: center

}

.btn-login {
  margin-top: 30px;
  margin-left: 45%
}

.login-input {
  margin-left: 30%;
  width: 50%;

}

profilepic {
  height: 20px;
  width: 20px;
}

th {
  font-size: 50px;
}

td {
  font-size: 20px;

}

.weekly {
  margin-left: 15%
}
